@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0;
	margin-top: 0;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 5px;
}

.bg {
	background-color: #B5B5B5;
	text-align: center;
}

.top {
	width: 50%;
	height: auto;
}

.title {
	color: white;
	font-size: 35px;
	text-align: center;
	padding-top: 5%;
}

.logo {
	width: 10%;
	padding-left: 45%;
	padding-bottom: 3.5%;
}

.subtitle {
	color: purple;
	text-align: center;
	font-size: 50px;
}

.taglines {
	color: gray;
	text-align: center;
	font-size: 35px;
}

.contacts {
	width: 50%;
	margin-left: 30%;
	font-size: 25px;
	line-height: 50px;
	letter-spacing: 5px;
	margin-top: 5%;
	margin-bottom: 2%;
}

.socials {
	font-weight: bold;
}

.socialPic {
	width: 3%;
}

.beats {
	width: 60%;
	margin-left: 20%;
	text-align: center;
	margin-bottom: 5%;
}

table, tr, td {
	background-color: #403B3B;
	color: white;
	margin-bottom: 5%;
	margin-top: -3%;
	border: 1px solid black;
	border-collapse: collapse;
	width: 75%;
	padding-bottom: 20px;
}

#play {
	width: 2%;
	height: auto;
}

#play1 {
	width: 2%;
	height: auto;
}

#play2 {
	width: 2%;
	height: auto;
}

#play3 {
	width: 2%;
	height: auto;
}

#play4 {
	width: 2%;
	height: auto;
}

#play5 {
	width: 2%;
	height: auto;
}

#play6 {
	width: 2%;
	height: auto;
}

#play7 {
	width: 2%;
	height: auto;
}

#play8 {
	width: 2%;
	height: auto;
}

#play9 {
	width: 2%;
	height: auto;
}

#play10 {
	width: 2%;
	height: auto;
}

#play11 {
	width: 2%;
	height: auto;
}

#play12 {
	width: 2%;
	height: auto;
}

#play13 {
	width: 2%;
	height: auto;
}

#play14 {
	width: 2%;
	height: auto;
}

#play15 {
	width: 2%;
	height: auto;
}

#play16 {
	width: 2%;
	height: auto;
}

#play17 {
	width: 2%;
	height: auto;
}

#play18 {
	width: 2%;
	height: auto;
}

#play19 {
	width: 2%;
	height: auto;
}

.name {
	color: gray;
}

.time {
	float: right;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
}

.footer {
	color: gray;
	font-size: 14px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0px;
}
	
