@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
	margin: 0;
	margin-top: 0;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 5px;
}

.bg {
	background-color: #B5B5B5;
	text-align: center;
}

.top {
	width: 50%;
	height: auto;
}

.title {
	color: white;
	font-size: 35px;
	text-align: center;
	padding-top: 5%;
}

.logo {
	width: 10%;
	padding-left: 45%;
	padding-bottom: 3.5%;
}

.subtitle {
	color: purple;
	text-align: center;
	font-size: 50px;
}

.taglines {
	color: gray;
	text-align: center;
	font-size: 35px;
}

.contacts {
	width: 50%;
	margin-left: 30%;
	font-size: 25px;
	line-height: 50px;
	letter-spacing: 5px;
	margin-top: 5%;
	margin-bottom: 2%;
}

.socials {
	font-weight: bold;
}

.socialPic {
	width: 3%;
}

.beats {
	width: 60%;
	margin-left: 20%;
	text-align: center;
	margin-bottom: 5%;
}
